<html>
<%= render 'layouts/header_dashboard' %>






<br><br><br><br>

<h1>DEALER DASHBOARD</h1>



<ul>
  <li>SALES</li>
    <ul>
      <li>Sales This Week</li>
      <li>Monthly Sales</li>
      <li>Year-to-Date Sales</li>
    </ul>

  <br><br>

  <li>INVENTORY</li>
    <ul>
      <li>Total Autos in Inventory</li>
      <li>Average time in Inventory</li>
    </ul>
</ul>


</html>


