<!DOCTYPE html>
<html lang="en">
<head>
  <title>Auto Gallery</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>

  </style>

  <!--Shim adjusts for older IE 9 or less browsers-->
  <%= render 'layouts/shim' %>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<!-- NAVBAR -->
<%= render 'layouts/header' %>

  <!-- PARALLAX IMAGE -->
  <div class="parallax1"></div>

<!-- JUMBOTRON -->

  <div class="jumbotron text-center">
    <h1>Auto Gallery</h1>
    <p>The Right Car at the Right Price</p>
  </div>

<!-- PARALLAX IMAGE -->
  <div class="parallax2"></div>


<!-- Container (FEATURED AUTOS) -->

<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>FEATURED AUTOS</h2><br>
  <h4>Special Autos, Special Price</h4>



  <div class="row text-center slideanim">

    <div class="col-sm-4">
      <div class="thumbnail">
        <!--<img src="mercedes.jpg" alt="Paris" width="400" height="300">-->
        <p><strong>Mercedes</strong></p>
        <p>$50k</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <!--<img src="newyork.jpg" alt="New York" width="400" height="300">-->
        <p><strong>Corvette</strong></p>
        <p>Cash Only!</p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="thumbnail">
        <!--<img src="sanfran.jpg" alt="San Francisco" width="400" height="300">-->
        <p><strong>Ford</strong></p>
        <p>Buy one get one free</p>
      </div>
    </div>

  </div>

</div>



<div class="parallax3"></div>



 <!--Container (Services Section)-->
<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-road logo-small"></span>
      <h4>Generous Warranty</h4>
      <p>One year warranty covers all repairs for a year</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"></span>
      <h4>LOVE</h4>
      <p>We love cars...we love our customers.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-thumbs-up logo-small"></span>
      <h4>GREAT CUSTOMER SERVICE</h4>
      <p>Happy customers are our number one goal.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"></span>
      <h4>GREEN</h4>
      <p>We recycle and use environment friendly products.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CERTIFIED</h4>
      <p>Certified mechanics</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4 style="color:#303030;">QUALITY WORK</h4>
      <p>Quality  work keeps your auto running strong and reliable</p>
    </div>
  </div>
</div>


<!-- Add Google Maps -->
<div class="container-fluid text-center">
  <h2>DIRECTIONS</h2>
  <h4>Find the Right Car at the Right Price</h4>
  <br>
</div>
<center>
<div id="googleMap" style="height:400px;width:60%;"></div>
<script>
    function myMap() {
        var myCenter = new google.maps.LatLng(36.1326614,-86.7587609);
        var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
        var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
        var marker = new google.maps.Marker({position:myCenter});
        marker.setMap(map);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkWslnRKIUhtGkaD4m28H00-AGKwp0DFU&callback=myMap"></script>
</center>

<br><br><br><br>

<!-- PARALLAX IMAGE #4 NASHVILLE -->

      <div class="parallax4">
        <div class="text-center">
          <br>
          <p>
            Located in <br>
            "Music City"<br>
            Nashville, Tennessee
          </p>
        </div>
      </div>


<!--   FOOTER   -->
<%= render 'layouts/footer' %>

</body>
</html>
