
<!--<div class="col-sm-5">-->
  <!--<p>Contact us and we'll get back to you within 24 hours.</p>-->
  <!--<p><span class="glyphicon glyphicon-map-marker"></span> Nashville, TN</p>-->
  <!--<p><span class="glyphicon glyphicon-phone"></span> 615-555-0185</p>-->
  <!--<p><span class="glyphicon glyphicon-envelope"></span> myemail@example.com</p>-->
<!--</div>-->



<footer>

  <div class="login">
      <%= link_to "Login", 'dashboard', class: 'login'%>
  </div>

  <div class="text-left">
    <br>
    <div>
      <ul>
        <!--<li><a href="#about">Warranty</a></li>-->
        <!--<li><a href="#financing">FINANCING</a></li>-->
        <li><%= link_to "About", 'about' %></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid text-center">
      <a href="#myPage" title="To Top">
        <span class="glyphicon glyphicon-chevron-up"></span>
        <p>To Top</p>
      </a>
      <br>
      <p>123 Music Street, Nashville, TN 37210 | 615-555-0185</p>
      <p>&copy; Auto Gallery 2017, All Rights Reserved</p>
  </div>
</footer>