
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="nav navbar-nav">
        <li><%= link_to 'AUTO GALLERY', root_path %></li>
      </div>

    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        
        <li><%= link_to 'SEE AUTOS', search_path %></li>

        <li><%= link_to "ABOUT", 'about' %></li>
        <li><%= link_to 'CONTACT', contact_path %></li>
      </ul>
    </div>
  </div>
</nav>

